/* This file is known as External CSS*/

body{
    background-color: #DAEAF1;
    font:15px "Arial", san-serif;

}

hr{ 
    border-style: none;
    border-top-style: dotted ;
    border-color: azure;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1{
    color: #66BFBF;
    font-family: serif;
}

h3{
    color: #66BFBF;
    font-family: serif;
}

